{% extends 'partials/user-body.html' %}
{% load static %}
{% block contenido %}
{% comment %} https://www.campusmvp.es/recursos/post/bootstrap-spinners-notificaciones-toast-e-interruptores.aspx {% endcomment %}
<div class="cuerpo-user">
    <section class="contenido-cuerpo borde" id="myDIV">
        <div class="texto-cuerpo">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{% static 'img/maxresdefault.jpg' %}" class="d-block w-100" alt=".">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/maxresdefault.jpg' %}" class="d-block w-100" alt=".">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/maxresdefault.jpg' %}" class="d-block w-100" alt=".">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/maxresdefault.jpg' %}" class="d-block w-100" alt=".">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section class="contenido-cuerpo borde">
        <div class="container3">
            <h1 class="m-2">lo mas vendido</h1>
            <div>
                <p class="lineap "></p>
            </div> 
            <div class="glider-contain col-xl-15 " id="glider-{{subcategoria.id}}">
                <div class="glider-cat-1 glider">
                    {% for elemento in favoritos %}
                        {% include "cards/card_elemento.html" %} 
                    {% endfor %}
                </div>
                <button class="glider-prev"><i class="flechas fas fa-chevron-circle-left"></i></button>
                <button class="glider-next"><i class="flechas fas fa-chevron-circle-right"></i></button>
            <div class="containedorFinal">
            <div class="row align-items-start">
                <div id="carouselExampleInterval" class="carousel  col-2" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img class="d-block w-100" src="{% static 'img\IMUSA.png' %}" alt="">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img class="d-block w-100" src="{% static 'img\samurai-colombia-logo-vector.png' %}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'img\Oster-Logo.png' %}" alt="">
                        </div>
                    </div>
                </div>   
                <div id="carouselExampleInterval" class="carousel  col-2" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img class="d-block w-100" src="{% static 'img\black deckrer.png' %}" alt="">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img class="d-block w-100" src="{% static 'img\LOGO KALLEY.png' %}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'img\UNIVERSAL-2.png ' %}" alt="">
                        </div>
                    </div>
                </div>
                <div id="carouselExampleInterval" class="carousel  col-2" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img class="d-block w-100" src="{% static 'img\UNIVERSAL-2.png' %}" alt="">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img class="d-block w-100" src="{% static 'img\Oster-Logo.png' %}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'img\logo-homeelements-4.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div id="carouselExampleInterval" class="carousel  col-2" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img class="d-block w-100" src="{% static 'img\samurai-colombia-logo-vector.png' %}" alt="">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img class="d-block w-100" src="{% static 'img\IMUSA.png' %}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'img\samurai-colombia-logo-vector.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div id="carouselExampleInterval" class="carousel col-2" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img class="d-block w-100" src="{% static 'img\LOGO KALLEY.png' %}" alt="">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img class="d-block w-100" src="{% static 'img\logo-homeelements-4.png' %}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'img\IMUSA.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>    
{% endblock contenido %}
{% comment %} <img class="d-block w-100" src="{% static 'img\agregar-carrito.png' %}" alt=""> {% endcomment %}