{% extends 'partials/user-body.html' %} 
{% load crispy_forms_tags %}
{% block contenido %}
{% load static %}
<div class="cuerpo-user">
    <div class="contenido-cuerpo borde">
        <div>
            <h1 class="text-center m-2">Nosotros</h1>
        </div>
        <div>
            <p class="lineap borde"></p>
        </div> 
        <div class="text-center m-5 px-3">
            <h3>Somos una empresa constituida desde hace 10 años en la ciudad de Bogotá por ............. y adquirida desde hace 2 años por el actual propietario Carlos Andrés Pulido Ramírez como un sueño de constituir un negocio propio y con metas grandes
                y firmes que ahora se demuestran con "Central de licuadoras Pulido" que es un negocio certificado como vendedor oficial de reconocidas marcas tales como ("Samurai, Imusa, Oster....") y con una alta certificación que acreditan nuestros
                clientes como un negocio de reparación de electrodomésticos confiable y eficiente siempre a las órdenes de sus clientes.
            </h3>
        </div>
        <br>
        
    </div>
</div>
{% endblock contenido %}