<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleusuarios.css">
    <title>Pagina 01</title>
</head>
<body>
    <header>
        <section class="subheader">
            <section class="sub2header">
                <div class="marca">
                    <img src="img\logoo1.png" alt="">
                </div>
                <section class="opheader">
                    <div class="part">DD/MM/AA</div>
                    <div class="part">
                        <section class="buscador">
                            <img class="search" src="img\lupa.png">
                            buscar
                        </section>
                    </div>
                    <div class="part">
                        <div class="op"><img src="img\engranaje.png" alt=""></div>
                        <div class="op"><img src="img\agregar-carrito.png" alt=""></div>
                        <div class="op"><img src="img\usuario.png" alt=""></div>
                    </div>
                </section>
            </section>
        </section>
        <section class="intsection">
            <header class="intheader">
                <a href="" class="item"><img class="imgbotton" src="img\Inicio.png" alt="">Inicio</a>
                <a href="" class="item"><img class="imgbotton" src="img\Accesorios.png" alt="">Accesorios</a>
                <a href="" class="item"><img class="imgbotton" src="img\Productos.png" alt="">Productos</a>
                <a href="" class="item"><img class="imgbotton" src="img\Servicios.png" alt="">Servicio</a>
                <a href="" class="item"><img class="imgbotton" src="img\Nosostros.png" alt="">Nosotros</a>
            </header>
        </section>
    </header>
    <section class="cuerpo">
        <section class="contenido-cuerpo">
            <div class="politicas-privacidad">
                <h1>Políticas de privacidad</h1>
                <p>La central de licuadoras Pulido garantiza la protección total de la información personal de sus visitantes,
                así como también la de sus clientes. No recopilamos información personal de los visitantes del sitio web exceptuando en los casos en que se provea información por elección. <br>
                La central de licuadoras Pulido no vende comparte o divulga información personal de los visitante o clientes con terceros u otras organizaciones.</p>
            </div>
            
        </section>
    </section>
    <footer class="subheader">
        <div class="subheaderimg"><img src="img/sena.png" alt=""></div>
        <section class="contenido-footer">
            <div class="datos">
                <div><img src="img\Logo correo.png" alt="">  Admi: Carlos Andres Pulido Ramirez</div>
                <div><img src="img\Logo telefono.png" alt="">  3124661810</div>
                <div><img src="img\Logo arroba.png" alt="">  licuadoraspulido@misena.edu.co</div>
                <div><img src="img\Logo dirección.png" alt="">  Car 10 #19-69</div>
            </div>
            <div class="redes">
                <img src="img\Logo whatsapp.png" alt="">
                <img src="img\Logo facebook.png" alt="">
                <img src="img\Logo instagram.png" alt="">
            </div>
            <div class="politicas">
                <a href="">Aviso legal</a>
                <a href="politicasDePrivacidad.html">Politica de privacidad</a>
                <a href="">terminos y condiciones</a>
                <a href="">Fuentes de referencia</a>
            </div>
        </section>
    </footer>
    </section>
</body>
</html>