{% extends 'partials/admin-body.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="cuerpo-admin">
  <div class="contenido-cuerpo borde">
    <div>
      <ol class="breadcrumb d-flex justify-content-end">
        <li class="breadcrumb-item"><a class="indice text-decoration-none" href="{% url 'administrador-inicioadmin' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a class=" indice text-decoration-none" href="{% url 'usuario-tablaUsuario' %}">Usuario</a></li>
      </ol>
    </div>
    <h1 class="text-center">{{titulo_pagina}}</h1>
      <form id="form1">
          <table class="table results display responsive nowrap" width="100%" id="proyectos">
              <thead class="bg-info">
                  <tr class="text-white">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Tipo documento</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Opciones</th>
                  </tr>
              </thead>
              <tbody>
                {% for tusuario in tusuarios %}
                {% if tusuario.estado == "Activo" %}
                <tr>
                  <td>{{tusuario.Uid}}</td>
                  <td>{{tusuario.Unombre}}</td>
                  <td>{{tusuario.apellido}}</td>
                  <td>{{tusuario.documento}}</td>
                  <td>{{tusuario.celular}}</td>
                  <td>{{tusuario.tipo_documento}}</td>
                  <td>{{tusuario.rol}}</td>
                  <td>{{tusuario.estado}}</td>     
                  <td>
                    <!-- Boton modal usuario ver -->
                    <a class="btn btn-primary btn-sm"
                    href="{% url 'usuario-verusuario' tusuario.Uid %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg></a>
                    <!-- Boton modal usuario editar -->
                    <a class="btn btn-primary btn-sm"
                    href="{%url 'usuario-editarusuario' tusuario.Uid %}"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg></a>
                    <!-- Boton modal usuario eliminar -->
                    <a class="btn btn-danger btn-sm"
                    href="{% url 'usuario-usuario-eliminar' tusuario.Uid %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg></a>
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </form> 
        <div class="iconosOpcion">
          <div class="agreproducto">
            <a href="{% url 'usuario-crearUsuario' %}" class=" btncrear my-2">Crear Usuario</a>
          </div>
        </div>
  </div>
</div>  
{% endblock contenido %}