{% load static %}
{% include "partials/body-login.html" %}
<!-- Modal Mensaje Confirmación Cambio de Contraseña -->
<div class="centrado modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" 
     aria-hidden="true" role="dialog" style="display: block; backdrop-filter: blur(10px);">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
        <div class="p-3 modal-content">
            <a class="btn-close" data-bs-dismiss="modal" href="{% url 'usuarios-inicio' %}" aria-label="Close"></a>
            <div>
                <img class="imgLogo rounded-circle" src="{% static 'img/Logooo.png' %}" alt="">
            </div>
            <div class="modal-body">
                <h3> Su contraseña ha sido modificada <br> vuelva a  iniciar sesión. </h3>
            </div>
            <div class="m-2">
                <a href="{% url 'usuario-login' %}">
                <input class="m-2 btn btn-success" value="Iniciar Sesión"></button></a>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>