{% load static %}
{% include "partials/body-login.html" %}
<!-- Modal Correo Recuperación Contraseña -->
<div class="centrado modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" 
     aria-hidden="true" role="dialog" style="display: block; backdrop-filter: blur(10px);">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
        <div class="p-3 modal-content">
            <a class="btn-close" data-bs-dismiss="modal" href="{% url 'usuario-login' %}" aria-label="Close"></a>
            <div>
                <img class="imgLogo rounded-circle" src="{% static 'img/Logooo.png' %}" alt="">
            </div>
            <div class="modal-body">
                <h3>Recuperación de Contraseña</h3>
            </div> 
            <form method="post">
                {% csrf_token %}
                <label for="id_email">Para restablecer su contraseña, porfavor ingrese un correo previamente registrado:</label>
                {{ form.email }}
                <div class="m-2">
                    <a href="{% url 'usuario-login' %}" class="btn btn-secondary m-4">Cancelar</a>
                    <input type="submit" class="btn btn-success m-4" name="send email">
                </div>  
            </form>     
        </div> 
    </div>
</div>