body {
    background-image: url(/img/electrodomeÌsticoss..jpg);
    background-size: cover;
}


/*estilos para la tabla*/

table th {
    background-color: #337ab7 !important;
    color: white;
}

table>tbody>tr>td {
    vertical-align: middle !important;
}

.btn-group, .btn-group-vertical {
    position: absolute !important;
}
/*para alinear los botones y cuadro de busqueda*/

.btn-group,
.btn-group-vertical {
    position: absolute !important;
}

* {
    margin: 0;
    padding: 0;
}

.subheader {
    background-color: #0B318A;
    height: auto;
    padding: 0 10%;
}

.sub2header {
    height: auto;
    margin: 0;
    display: flex;
}

.marca {
    width: 30%;
    height: auto;
}

img {
    width: 100%;
}

.opheader {
    width: 68%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.part {
    color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: right;
    width: 100%;
}

.buscador {
    background-color: #fff;
    color: #000;
    width: 200px;
    border-radius: 20px;
    padding: 0 10px;
}

.search {
    height: 13px;
    width: auto;
}

h1 {
    text-align: center;
}

.intsection {
    background-color: rgb(55, 211, 198);
    height: auto;
    padding: 0 10%;
}

.intheader {
    background-color: #FF6A00;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    text-decoration-style: none;
}

.item {
    color: #fff;
    border: 1px solid #000;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.op {
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    margin: 0 10px 10px 0;
    padding: 5px;
}

.imgbotton {
    height: 30px;
    width: auto;
}

.cuerpo {
    background-color: #fff;
    height: auto;
    padding: 0 10%;
}

.contenido-cuerpo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texto-cuerpo {
    color: #000;
    margin: 20px auto;
    text-align: center;
}

.contenedores {
    background-color: #FF6A00;
    width: 70%;
    height: 50px;
    margin: 50px;
}

footer {
    border: 1px solid #000;
    position: relative;
}

.subheaderimg {
    border: 1px solid #000;
    width: 50px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    top: -30px;
    left: 48%;
}

.subheaderimg img {
    display: block;
    width: 100%;
}

.contenido-footer {
    color: #fff;
    display: flex;
}

.datos {
    width: 33%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.datos>div {
    margin: 3px;
}

.datos>div>img {
    width: 20px;
}

.redes {
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes>img {
    width: 30px;
    height: 35px;
    margin: 20px;
}

.politicas {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.politicas>a {
    margin: auto 10px auto 20%;
    text-decoration: none;
    color: #fff;
}

.col-lg-12 {
    background-color: #ffffffed;
    flex: 0 0 100%;
    max-width: 100%;
    border: 2px solid #ffffffed;
    height: 550px;
}

.myButton {
    font-weight: 600;
    box-shadow: rgb(2 62 138) 0px 0px 0px 0px;
    background-color: rgb(0, 119, 182);
    display: flex;
    border: 1px solid rgb(2, 62, 138);
    cursor: pointer;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 17px;
    padding: 10px 9px;
    text-decoration: none;
    text-shadow: rgb(47 102 39) 0px 1px 0px
}

.myButton:hover {
    background-color: #00B4D8;
}

.myButton:active {
    position: absolute;
    top: 1px;
}

.fade:not(.show) {
    opacity: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url(img/R.png) center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 20%;
}

div.dataTables_wrapper div.Tablas_filtrado {
    text-align: left;
    display: flex;
}

.btn-secundary {
    color: #fff;
    background-color: #f3df2b;
    border-color: #f3df2b;
}

.btn-terciary {
    color: #fff;
    background-color: #f3382b;
    border-color: #ff1100;
}